<!DOCTYPE html>
<html>
<head>
	<title>Mongo Scraper - NintendoLife Edition</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/javascript.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
	    	<img src="/assets/img/mongo-db.png" width="30" height="30" alt="">
	  	</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Current News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/savedArticles">Saved Articles</a>
			</li>
		</ul> 
	</nav>
	<div class='container'>
		<h1>Welcome to Mongo Scraper - Nintendo Life edition</h1>
		{{{body}}}
	</div>
</body>
</html>